.track {
  display: flex;
  align-items: center;
  color: $color_light_grey9;
  user-select: none;
  cursor: pointer;
  &--active {
    background: #c5602a;
    color: $color_white;
  }
  &.track-list__track {
    height: 40px;
    /*padding-left: 50px;*/
    width: 100%;
  }
  > * {
    padding: 0 5px;
  }
  &__artist {
    width: 200px;
    font-size: 14px;
    line-height: 1;
  }
  &__label {
    font-size: 10px;
    width: 80px;
  }
  &__song-name {
    font-size: 14px;
    width: 200px;
    line-height: 1;
  }
  &__info {
    width: 50px;
    display: flex;
    flex-direction: column;
    &--spins {
      width: 60px;
    }
  }
  &__info-heading {
    font-size: 10px;
  }
  &__info-text {
    font-size: 15px;
  }
  &__details {
    .ps-scrollbar-x-rail {
      left: 0 !important;
    }
  }
  &__details-inner {
    display: flex;
  }
  &__details-text {
    padding: 10px;
    display: flex;
    .track__station {
      margin-right: 10px;
      cursor: pointer;
    }
  }
  &__details-item {
    padding: 10px 20px 15px;
    width: 200px;
    text-align: center;
    flex-shrink: 0;
  }
  &__station {
    height: 60px;
  }
  &__chart-wrap {
    display: block;
  }
  &__chart {
    width: 100%;
  }
  &__table {
    td {
      padding: 1px 5px;
    }
  }
}